<div class="container-fluid">
    <div class="row-fluid">
        <%= render 'layouts/links' %>


	     
             <div class="span9">
                
          

<% @articles=Report.all  
 @articles.each do |report| %>
 <div class="hero-unit">
    <h2><%= report.title %></h2>
    <p><%= report.story %></p>
    	 <p><%= link_to 'Leggi Articolo', report %></a>
                                    </p>
                                </div>
<% end %>
                                
                             
                               
            

        </div><!--/span-->
    </div><!--/row-->

<%= render 'layouts/footer' %>
</div><!--/.fluid-container-->

