        <div class="navbar navbar-inverse ">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    



                        <div class="nav-collapse collapse">
                            <ul class="nav" style="left: 25%; font-size: 24px">
                                <li class="active"><a href="./index.php">Home</a></li>
                                <li><%= link_to "Chi siamo", aboutus_path %></li>
                                <li><%= link_to "Storia", history_path %></li> 
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Foto <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><%= link_to "Foto Storiche", oldphoto_path %></li>
                                        <li><%= link_to "Foto Eventi", eventsphoto_path %></li>
                                    </ul></li>
                                    <li><%= link_to "Calendario", kaisercalendar_path %></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>



                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span2">
                            <div class="well sidebar-nav">
                                <ul class="nav nav-list">
                                    <li class="nav-header">Pagine utili</li>
                                    <li><a href="http://www.gruppostoricotrentino.eu/sito/">gruppo storico trentino</a></li>
                                    <li><a href="http://kaiserjaeger.wordpress.com/">kaiserjaeger wordpress</a></li>
                                    <li><a href="http://www.kukreplika.cz/en/">kukreplika</a></li>
                                    <li><a href="http://www.ilmondodeglischuetzen.it/IT/index.htm">il mondo degli sch&#252;tzen</a></li>
                                    <li class="nav-header">File audio</li>
                                    <li><a href="http://www.youtube.com/watch?v=yGcZkZns85c" target=”_blank”>Kaiserhymne</a></li>
                                    <li><a href="http://www.youtube.com/watch?v=fcrisOhz0lc" target=”_blank”>Serbi Dio l'austiaco regno</a></li>
                                    <li><a href="http://www.youtube.com/watch?v=DYVeiv93daw" target=”_blank”>Sui monti Scarpazi</a></li>
                                    <li><a href="http://www.youtube.com/watch?v=ehl6F90rj3U" target=”_blank”>Ich hatte einen Kameraden</a></li>
                                    <li><a href="http://www.youtube.com/watch?v=CO_ciTwDhCY" target=”_blank”>Andreas Hofer Lied</a></li>
                                    <li><a href="http://www.youtube.com/watch?v=9Kb7PjdSENw" target=”_blank”>Dem Land Tirol die Treue</a></li>
                                    <li><a href="http://www.youtube.com/watch?v=lvKsXxSa3kM" target=”_blank”>Wenn die soldaten duruch die stadt marschiren</a></li>
                                    <li class="nav-header">File video</li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </div><!--/.well -->
                        </div><!--/span-->


                        <div class="span9">
                            <?php
                            $test = read_articles();
                    //var_dump($test);

                            $number_articles = sizeof($test);

                            foreach ($test as $article) {
                                ?>


                                <div class="hero-unit">
                                    <h1><?php echo $article["title"]; ?> </h1>
                                    <p><?php echo $article ["story"]; ?> </p>
                                    <p><a href="article.php?id=<?php echo ($article ["id"]); ?>" class="btn btn-primary btn-large">Learn more &raquo;</a>
                                    </p>
                                </div>


                                <?php
                            }
                            ?>

                        </div><!--/span-->
                    </div><!--/row-->

                    <hr>

                    <footer>
                        <p>&copy; Company 2013</p>
                    </footer>

                </div><!--/.fluid-container-->

