<div class="container-fluid">
    <div class="row-fluid">
        <%= render 'layouts/links' %>


	     
             <div class="span9">
                
          <!-- per andare al contrario mettere order("created_at desc") al posto di all -->

<% @articles=Report.all.each do |report|  
    stringa=report.story  %>
        <div class="hero-unit">
            <h2><%= report.title %></h2>
            <% if report.image.exists? %>
               <%= image_tag report.image.url(:medium), style: "display: block; margin-left: auto; margin-right: auto;" %>
            <% end %>
    <% if stringa.length < 200 %>
            <p><%= report.story %></p>
    <% else %>
            <p><%= stringa[0..199]<<"..." %></p>
    <% end %>
            <p><%= link_to 'Leggi Articolo', report %></p>    
        </div>
<% end %>
                                
                             
                               
            

        </div><!--/span-->
    </div><!--/row-->

<%= render 'layouts/footer' %>
</div><!--/.fluid-container-->

