<div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Pagine utili</li>
                    <li><%= link_to "gruppo storico trentino", "http://www.gruppostoricotrentino.eu/sito/", :target => "_blank"%></li> 
                    <li><%= link_to "kaiserjaeger wordpress", "http://kaiserjaeger.wordpress.com/", :target => "_blank"%></li> 
                    <li><%= link_to "kukreplika", "http://www.kukreplika.cz/en/", :target => "_blank"%></li> 
                    <li><%= link_to "il mondo degli schützen", "http://www.ilmondodeglischuetzen.it/IT/index.htm", :target => "_blank"%></li>
                    <li class="nav-header">File audio</li>
                    <li><%= link_to "Kaiserhymne", "http://www.youtube.com/watch?v=yGcZkZns85c", :target => "_blank"%></li>
                    <li><%= link_to "Serbi Dio l'austiaco regno", "http://www.youtube.com/watch?v=fcrisOhz0lc", :target => "_blank"%></li>
                    <li><%= link_to "Sui monti Scarpazi", "http://www.youtube.com/watch?v=DYVeiv93daw", :target => "_blank"%></li> 
                    <li><%= link_to "Ich hatte einen Kameraden", "http://www.youtube.com/watch?v=ehl6F90rj3U", :target => "_blank"%></li> 
                    <li><%= link_to "Andreas Hofer Lied", "http://www.youtube.com/watch?v=CO_ciTwDhCY", :target => "_blank"%></li>
                    <li><%= link_to "Dem Land Tirol die Treue", "http://www.youtube.com/watch?v=9Kb7PjdSENw", :target => "_blank"%></li>
                    <li><%= link_to "Wenn die soldaten duruch die stadt marschiren", "http://www.youtube.com/watch?v=lvKsXxSa3kM", :target => "_blank"%></li> 
                    <li class="nav-header">File video</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->