<!DOCTYPE html>
<html>
<head>
  <title>Kaiserschützen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="QWlG2PeS0OJ5R7kMJ00xooakrf1EBf2fkQ49zsSq61Q" />
</head>
<body>
	<%= render 'layouts/header'%>

<%= yield %>


</body>
</html>
